// Place all the styles related to the admin/categories controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

label{
	margin-bottom: 0;
}
.category-form {
	margin: 30px 0;
}

.category-new td{
	padding: 0 5px;
}

.category-add{
  background-color: #3D8BCD;
  color: white;
  width: 100%;
  border-radius: 10px;
}

.category-add_form{
  width: 150px;
}

.category-edit{
  background-color: blue;
  color: white;
  font-size: 12px;
  width: 80%;
  border-radius: 5px;
}

.category-edit_form{
  width: 100%;
}

.category-form {
	margin: 30px 0;
}

.category-new td{
	padding: 0 5px;
}

.category-update{
  background-color: #3D8BCD;
  color: white;
  width: 100%;
  border-radius: 10px;
}

.category-update_form{
  width: 150px;
}