// Place all the styles related to the admin/homes controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.admin-top{
  height: 500px;
}

.admin-title{
  margin-bottom: 50px;
}

.order-count{
  margin-right: 50px;
}