
<%= render 'categories/link' %>

		<div class="col-xs-10">
			<div class="top-center-img">
				<div class="top-center-text">
					ようこそ、NagoyaCakeへ！<br>
					このサイトは、ケーキ販売のECサイトになります。<br>
					会員でない方も商品は見れますが<br>
					購入には会員登録が必要です。</div>
			</div>
				<h1>オススメ商品</h1>
					<%= link_to "もっと見る>",products_path %>
		</div>
	</div>
</div>
