<div class="container">
	<h1><strong>商品一覧画面</strong></h1>
	<div class="row">
			<table class="table table-bordered" style="width: 80%; margin: 30px auto;">
				<thead bgcolor="#eee">
					<tr>
						<th width="10%">商品ID</th>
						<th width="35%">商品名</th>
						<th width="10%">税抜価格</th>
						<th width="35%">ジャンル</th>
						<th width="10%">ステータス</th>
					</tr>
				</thead>
				<tbody>
					<% @products.each do |product| %>
					<tr>
						<td><%= product.id %></td>
						<td><%= product.name %></td>
						<td><%= product.no_tax_price %></td>
						<td><%= product.category.name %></td>
						<% if product.is_available == true %>
							<td>販売中</td>
						<% else %>
							<td>売り切れ</td>
						<% end %>
					<% end %>
				</tbody>
			</table>
	</div>
</div>