/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
@import "bootstrap-sprockets";
@import "bootstrap";

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/*新規登録、ログインのタイトル*/
.customer-title{
  background-color: #eee;
  font-size: 30px;
}

/*新規登録のフォーム*/
.customer-signup_form{
  width: 150px;
}

/*新規登録、ログインの登録ボタンのdiv*/
.actions{
  margin: 20px auto;
  width: 200px;
}

/*新規登録ボタン自体のcss*/
.customer-signup{
  background-color: #58B957;
  color: white;
  width: 100%;
}

/*新規登録入力のテーブル*/
.signup-table{
  border-collapse: separate;
  border-spacing: 0px 8px;
}

/*登録済みの方の案内のdiv*/
.finish-sign_up{
  margin-top: 20px;
}

/*登録済みの方の案内の文*/
.finish-sign_up-text{
 margin: 20px 50px;
}

/*ログイン情報入力のテーブル*/
.signin-table{
  border-collapse: separate;
  border-spacing: 0px 8px;
  margin-left: 50px;
}

/*会員のログインのフォーム*/
.customer-signin_form{
  width: 400px;
}

/*会員のログインボタンのcss*/
.customer-sign_in{
  background-color: #3D8BCD;
  color: white;
  width: 100%;
}

/*会員ログイン画面の幅調整*/
.sign_in-row{
  margin: 100px 0;
}

/*新規登録してない方の案内文*/
.unfinish-sign_in-text{
 margin: 20px 50px;
}

/*パスワードを忘れた方へのリンク*/
.forget-password{
  text-align: right;
}

.customer-edit{
  background-color: #3D8BCD;
  color: white;
  width: 100px;
  margin: 0 10px;
}

.password-edit{
  background-color: #3D8BCD;
  color: white;
  width: 200px;
}

.customer-addresses{
  background-color: #3D8BCD;
  color: white;
  width: 150px;
}

.customer-orders{
  background-color: #3D8BCD;
  color: white;
  width: 150px;
}

.title{
  background-color: #eee;
}

.customer-table{
  margin-top: 20px;
  margin-bottom: 30px;
}

.customer-table tr{
  height: 50px;
}

.order-history{
  margin-top: 20px;
  margin-bottom: 40px;
}

.address-index{
  margin-left: 26px;
}

.order-index{
  margin-left: 13px;
}

.mypage-title{
  background-color: #eee;
  font-size: 30px;
  margin-left: 100px;
}

.customer-information{
  margin-top: 30px;
}

.withdraw-text{
  text-align: center;
  margin-top: 100px;
  margin-bottom: 100px;
}

.customer-nondelete{
  background-color: #3D8BCD;
  color: white;
  width: 100px;
  margin-right: 10px;
}

.customer-delete{
  background-color: #FF0000;
  color: white;
  width: 100px;
}

.withdraw-button{
  margin-top: 30px;
}