/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
@import "bootstrap-sprockets";
@import "bootstrap";


*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/*新規登録、ログインのタイトル*/
.all-title{
  background-color: #eee;
  font-size: 30px;
}

/*新規登録のフォーム*/
.customer-signup_form{
  width: 150px;
}

/*新規登録、ログインの登録ボタンのdiv*/
.actions{
  margin: 20px auto;
  width: 200px;
}

/*新規登録ボタン自体のcss*/
.customer-signup{
  background-color: #58B957;
  color: white;
  width: 100%;
}

/*新規登録入力のテーブル*/
.signup-table{
  border-collapse: separate;
  border-spacing: 0px 8px;
}

/*登録済みの方の案内のdiv*/
.finish-sign_up{
  margin-top: 20px;
}

/*登録済みの方の案内の文*/
.finish-sign_up-text{
 margin: 20px 50px;
}

/*ログイン情報入力のテーブル*/
.signin-table{
  border-collapse: separate;
  border-spacing: 0px 8px;
  margin-left: 50px;
}

/*会員のログインのフォーム*/
.customer-signin_form{
  width: 400px;
}

/*会員のログインボタンのcss*/
.customer-sign_in{
  background-color: #3D8BCD;
  color: white;
  width: 100%;
}

/*会員ログイン画面の幅調整*/
.sign_in-row{
  margin: 100px 0;
}

/*新規登録してない方の案内文*/
.unfinish-sign_in-text{
 margin: 20px 50px;
}

/*パスワードを忘れた方へのリンク*/
.forget-password{
  text-align: right;
}

/*管理者ログイン画面(admin_signup)*/
.admin-signup{
  background-color: #3D8BCD;
  color: white;
  width: 100%;
  margin-top: 20px;
}

.admin_signup_form{
  width: 150px;
}

.header-nav li{
  margin-left: 40px;
}

.nav{
  height: 60px;
}

.navbar-nav > li > a{
  margin-top: 3px;
  margin-bottom: 3px;
}

.navbar-text{
  line-height:30px;
}

.navbar-brand{
  line-height:30px;
}

.navbar-form{
  position: relative;
}

.glyphicon-search{
  position:absolute;
  right: 20px;
  top: 10px;
}

.customer-definition{
  display: inline-block;
  padding: 5px 8px;
  background-color: #99CCFF;
  border-radius: 3px;
  font-size: 11px;
  border :1px solid black;
}

.admin-customer-table{
  border-collapse: separate;
  border-spacing: 0px 8px;
}

.admin-customer-update{
  background-color: #0057D8;
  color: white;
}