// Place all the styles related to the orders controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.crearfix::after{
	content:"";
	display:block;
	clear: both;
}

.order-new-box{
	margin-left: 40px;
}

.order-new-text-field{
	float:left;
}

.order-new-select-btn{
	float:left;
	margin-left: 15px;
}


