<div class="container">
	<div class="row">
		<div class="col-xs-2">
			<div class="categories-box">
				<h3 class="categories-seach">ジャンル検索</h3>
				<div class="categories-manu">
					<p>ケーキ</p>
					<p>焼き菓子</p>
					<p>プリン</p>
					<p>キャンディ</p>
				</div>
			</div>
		</div>
